.DS_Store

downloads/
env/
venv/
.venv/
*/.venv/

*.pyc
__pycache__/

.pytest_cache/

instance/

*.sqlite
*.db

.env
config.local.py
secrets.py

dist/
build/
*.egg-info/

*.log
/htmlcov/
.coverage

.vscode/

flask_session/